extends layout
block content
    #menu
        #welcome
        #games
            div#newGame
                form.form-inline
                    .form-group
                        input(placeholder="Name of the game").form-control.name
                        div.option
                            label(for='sel2') Map:
                            select#sel2.form-control.map
                                option(selected=true) map1
                                option map2
                                option map3
                                option map4
                    a.btn.btn-lg.btn-outline.create Create
            h1= "Games"
    div#renderer

    // scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.2.2/pixi.min.js")
    script(src="http://"+domain+":"+port+"/javascripts/bundle.js")
