extends layout
block content
    div#welcome
        h1= title
    div#games
        h1= "Games"
    div#renderer

    // scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.2.2/pixi.min.js")
    script(src="http://localhost:3000/javascripts/bundle.js")
