body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#welcome {
  width: 40%;
  left: 5%;
  top: 5%;
  position: absolute;
  color: white;
}

#games {
  width: 30%;
  left: 65%;
  top: 5%;
  position: absolute;
  color: white;
}

#games h1 {
    width: 100%;
    text-align: center;
}
#games .game {
    width: 100%;
    border: solid 1px transparent;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    border-radius: 3px;
}
#games .game:hover{
    border: solid 1px white;
    background-color: rgba(255,255,255,0.3);
    cursor: pointer;
}
#games .game span {
    display: inline-block;
    width: 65%;
    margin-left: 5%;
}
#games .game .btn {
    width: 20%;
    margin-left: 5%;
    border-color: white;
    color: white;
}
#games .game .players {
    margin: 5%;
}
#games .game .players .player {
    padding: 2px;
    border-radius: 3px;
}
#games .game .players .player:hover {
    background-color: rgba(0,0,0,0.3);
}
#renderer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}