body {
    padding: 50px;
    background-color: black !important;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
#ingame {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
#durationBeforeDisconnection {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: rgba(255,255,255,0.8);
    display: none
}
#ranking {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    left: 10px;
    top: 10px;
    color: rgba(255,255,255,0.8);
}
#ranking .player {
    margin-bottom: 5px;
    font-size: 20px;
}
#ranking .you {
    color: goldenrod;
}
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8)
}
#welcome {
    width: 40%;
    left: 5%;
    top: 5%;
    position: absolute;
    color: white;
}

#games {
    width: 30%;
    left: 65%;
    top: 5%;
    height: 60%;
    position: absolute;
    color: white;
}
#games #newGame {
    /*background-color: rgba(255,255,255,0.3);*/
    padding: 10px;
    border-radius: 3px;
}
#games #newGame .name * {
    margin: 0px 15px 0px 15px;
}
#games h1 {
    width: 100%;
    text-align: center;
}
#games .game {
    width: 100%;
    border: solid 1px transparent;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    border-radius: 3px;
}
#games .game:hover{
    border: solid 1px white;
    background-color: rgba(255,255,255,0.3);
    cursor: pointer;
}
#games .game span, #games #newGame .form-group {
    display: inline-block;
    width: 50%;
    margin-left: 5%;
}
#games .game .btn, #games #newGame .btn {
    width: auto;
    margin-left: 5%;
    border-color: white;
    color: white;
}
#games .game .btn:hover, #games #newGame .btn:hover {
    background-color: gray;
}
#games .game .name {
    font-size: 25px;
}
#games #newGame{
    padding: 0px;
    height: 10%;
    margin-bottom: 30%;
}
#games #newGame .form-group select {
    margin-left: 5px;
}
#games #newGame .form-group select option {
    background-color: black;
}
#games #newGame .option {
    margin-top: 5px;
}
#games #newGame .option select {
    background-color: transparent;
    color: white;
}
#games #newGame .name {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
#games .game .players {
    margin: 5%;
}
#games .game .players .player {
    padding: 2px;
    border-radius: 3px;
}
#games .game .players .player:hover {
    background-color: rgba(0,0,0,0.3);
}
#renderer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}